.queue-container {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0;
    height: 100%;
    overflow: hidden;
    mask-image: linear-gradient(180deg, rgb(0 0 0 / 100%) 95%, transparent 100%);

    --theme-colors-border: transparent;
}

.module-content {
    width: 100%;
    height: 100%;
}

.grid-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-width: 0;
    height: 100%;
    min-height: 0;
    padding: 1rem;
    overflow: hidden;
    transform: translateX(0%);
    transition: transform 0.5s ease-out;

    @media screen and (orientation: portrait) {
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        border-radius: var(--theme-radius-xl);
        opacity: var(--opacity, 1);
    }
}

.grid-container-collapsed {
    transform: translateX(100%);

    @media screen and (orientation: portrait) {
        transform: translateY(100%);
    }
}

.controls-container {
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s ease;

    &:hover,
    &:has(:focus-visible) {
        opacity: 1;
    }
}
