.scroll-area {
    height: calc(100vh - 90px);
}

.drag-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: calc(100% - 130px);
    height: 65px;
    pointer-events: none;
    -webkit-app-region: drag;
}

.scroll-area :global(.os-scrollbar) {
    z-index: 200;
}

.scroll-area :global(.os-scrollbar-track) {
    z-index: 200;
}

.scroll-area :global(.os-scrollbar-handle) {
    z-index: 200;
}
