@font-face {
    font-family: 'Feishin PingFang';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/fonts/PingFangSC-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Feishin PingFang';
    font-style: normal;
    font-weight: 500;
    src: url('../../../assets/fonts/PingFangSC-Medium.ttf') format('truetype');
    font-display: swap;
}

[class*='lyric'],
[class*='lyric'] * {
    --mantine-font-size-xs: 0.75rem !important;
    --mantine-font-size-sm: 0.875rem !important;
    --mantine-font-size-md: 1rem !important;

    font-family: var(--theme-content-font-family) !important;
    font-weight: normal !important;
}
