.sidebar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;
}

.server-icon {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: var(--theme-radius-md);
}
