.item {
    width: 100%;
    font-family: var(--theme-content-font-family);
    font-size: var(--theme-font-size-md);
    font-weight: 600;

    &:focus-visible {
        border: 1px solid var(--theme-colors-primary-filled);
    }
}

.root {
    height: 38px;
    padding-right: var(--theme-spacing-md);
    padding-left: var(--theme-spacing-md);
    margin-bottom: 3px;
    border-radius: var(--theme-radius-md);
}

.inner {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.label {
    display: block;
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    white-space: nowrap;
}

.link {
    position: relative;
    display: flex;
    width: 100%;
    font-size: var(--theme-font-size-md);
    color: var(--theme-colors-foreground-muted);
    border: 1px transparent solid;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
        color: var(--theme-colors-foreground);
        background: color-mix(in srgb, var(--theme-colors-foreground) 5%, transparent);
    }

    &:focus-visible {
        border: 1px solid var(--theme-colors-primary-filled);
    }
}

.link.active {
    color: var(--theme-colors-primary-filled);
    background: color-mix(in srgb, var(--theme-colors-primary-filled) 12%, transparent);

    &::after {
        position: absolute;
        top: 50%;
        right: var(--theme-spacing-md);
        width: 5px;
        height: 5px;
        content: '';
        background: currentcolor;
        border-radius: 50%;
        transform: translateY(-50%);
    }
}

.link.disabled {
    pointer-events: none;
    opacity: 0.6;
}
