.content {
    gap: 12px;
    padding: 32px 28px 80px;
}

.title {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 750;
    line-height: 1.15;
    letter-spacing: -0.04em;
}

@media (width <= 768px) {
    .content {
        gap: 24px;
        padding: 20px 16px;
    }

    .title {
        font-size: 28px;
    }
}
