.container {
    position: relative;
    grid-area: sidebar;
    background: var(--theme-colors-background-alternate);
    border-right: 1px solid color-mix(in srgb, var(--theme-colors-foreground) 4%, transparent);
}
